# ─── Django ────────────────────────────────────────────
SECRET_KEY=change-me-in-production-use-50-random-chars
DEBUG=False
ALLOWED_HOSTS=srv1404625.hstgr.cloud,72.62.21.162

# ─── Database ──────────────────────────────────────────
DB_ENGINE=postgresql
DB_NAME=budgetmaster
DB_USER=budgetmaster
DB_PASSWORD=change-me-strong-password
DB_HOST=db
DB_PORT=5432

# ─── Grafana ───────────────────────────────────────────
GRAFANA_PASSWORD=change-me-grafana-password

# ─── Domain ────────────────────────────────────────────
DOMAIN=srv1404625.hstgr.cloud
CERTBOT_EMAIL=admin@srv1404625.hstgr.cloud
