django>=4.2,<5.0
django-jazzmin
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pdfplumber
pandas
python-decouple
Pillow
psycopg2-binary
gunicorn
django-prometheus

celery>=5.3
redis>=5.0
reportlab>=4.0
openpyxl>=3.1
